.recipeContainer {
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
  flex: 1;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    gap: 10px; 
  }

  .searchWrapper {
    width: 100%;
  }

  .searchBar {
    width: 100%;
    min-width: unset; 
  }

  .searchButton {
    flex-shrink: 0;
    padding: 8px 12px;
  }

  .newRecipeButton {
    margin-right: 3%;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .recipeGrid {
    grid-template-columns: 1fr; 
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newRecipeButton {
  background-color: #e24545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media (max-width: 350px) {
  .recipeGrid {
    grid-template-columns: 1fr;
  }
}

.recipeCard {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipeImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.recipeCard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.recipeInfo {
  padding: 10px;
}

.emptyCard {
  text-align: center;
  padding: 20px;
}

.placeholderImage {
  width: 100px;
  height: 100px;
}

.tagTraditional {
  background: #ffcc99;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.tagOwn {
  background: #ffdda3;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchBar {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 400px;
  font-size: 14px;
}

.searchButton {
  background-color: #e24545;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DARK MODE */
.recipeContainerDark {
  background-color: #1e1e1e;
  color: #fff;
}

.headerDark {
  color: #fff;
}

.searchBarDark {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.searchBarDark::placeholder {
  color: #ccc;
}

.searchButtonDark {
  background-color: #e24545; /* mantém vermelho, mas você pode ajustar se quiser */
  color: #fff;
}

.newRecipeButtonDark {
  background-color: #ff7070;
  color: #fff;
}

.recipeCardDark {
  background-color: #2c2c2c;
  color: #fff;
}

.recipeCardDark h3,
.recipeCardDark p {
  color: #fff;
}

